<% if @l == :fr %>
    <section class="course-finder">
      <h1 class="section-heading text-highlight"><span class="line">Trouveur de cours</span></h1>

      <div class="section-content">
        <form class="course-finder-form" action="#" method="get">
          <div class="row">
            <div class="col-md-5 col-sm-5 subject">
              <select class="form-control subject">
                <option>Choisissez un domaine</option>
                <option>Accounting & Finance</option>
                <option>Biological Sciences</option>
                <option>Business Studies</option>
                <option>Computer Science</option>
                <option>Education</option>
                <option>History</option>
                <option>International Relations</option>
                <option>Mathematics</option>
                <option>Religion</option>
                <option>Social Science</option>
              </select>
            </div>
            <div class="col-md-7 col-sm-7 keywords">
              <input class="form-control pull-left" type="text" placeholder="Search keywords"/>
              <button type="submit" class="btn btn-theme"><i class="fa fa-search"></i></button>
            </div>
          </div>
        </form><!--//course-finder-form-->
        <a class="read-more" href="#">Voir tous nos cours<i class="fa fa-chevron-right"></i></a>
      </div><!--//section-content-->
    </section><!--//course-finder-->
<% else %>
    <section class="course-finder">
      <h1 class="section-heading text-highlight"><span class="line">الباحث عن الدورة</span></h1>

      <div class="section-content">
        <form class="course-finder-form" action="#" method="get">
          <div class="row">
            <div class="col-md-5 col-sm-5 subject">
              <select class="form-control subject">
                <option>اختيار منطقة الموضوع</option>
                <option>المحاسبة والمالية</option>
                <option>العلوم البيولوجية</option>
                <option>الدراسات التجارية</option>
                <option>علوم الحاسب</option>
                <option>تربية</option>
                <option>هندسة</option>
                <option>التاريخ</option>
                <option>الرياضيات</option>
                <option>الأديان</option>
                <option>العلوم الاجتماعية</option>
              </select>
            </div>
            <div class="col-md-7 col-sm-7 keywords">
              <input class="form-control pull-left" type="text" placeholder="Search keywords"/>
              <button type="submit" class="btn btn-theme"><i class="fa fa-search"></i></button>
            </div>
          </div>
        </form><!--//course-finder-form-->
        <a class="read-more" href="#">عرض جميع دوراتنا<i class="fa fa-chevron-right"></i></a>
      </div><!--//section-content-->
    </section><!--//course-finder-->
<% end %>
