<% if @l == :fr %>
<section class="links">
  <h1 class="section-heading text-highlight"><span class="line">Liens</span></h1>
  <div class="section-content">
    <p><a href="#"><i class="fa fa-caret-right"></i>E-learning Portal</a></p>
    <p><a href="#"><i class="fa fa-caret-right"></i>Gallery</a></p>
    <p><a href="#"><i class="fa fa-caret-right"></i>Job Vacancies</a></p>
    <p><a href="#"><i class="fa fa-caret-right"></i>Contact</a></p>
  </div><!--//section-content-->
</section><!--//links-->
<% else %>
<section class="links">
  <h1 class="section-heading text-highlight"><span class="line">الامتيازات</span></h1>
  <div class="section-content">
    <p><a href="#"><i class="fa fa-caret-right"></i>E-learning Portal</a></p>
    <p><a href="#"><i class="fa fa-caret-right"></i>Gallery</a></p>
    <p><a href="#"><i class="fa fa-caret-right"></i>Job Vacancies</a></p>
    <p><a href="#"><i class="fa fa-caret-right"></i>Contact</a></p>
  </div><!--//section-content-->
</section><!--//links-->
<% end %>