<% if @l == :fr %>
    <section class="promo box box-dark">
      <div class="col-md-9">
        <h1 class="section-heading">Why College Green</h1>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed bibendum orci eget nulla mattis, quis viverra
          tellus
          porta. Donec vitae neque ut velit eleifend commodo. Maecenas turpis odio, placerat eu lorem ut, suscipit
          commodo
          augue. </p>
      </div>
      <div class="col-md-3">
        <a class="btn btn-cta" href="#"><i class="fa fa-play-circle"></i>Appliquer maintenant</a>
      </div>
    </section><!--//promo-->
<% else %>

    <section class="promo box box-dark">
      <div class="col-md-9">
        <h1 class="section-heading">Why College Green</h1>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed bibendum orci eget nulla mattis, quis viverra
          tellus
          porta. Donec vitae neque ut velit eleifend commodo. Maecenas turpis odio, placerat eu lorem ut, suscipit
          commodo
          augue. </p>
      </div>
      <div class="col-md-3">
        <a class="btn btn-cta" href="#"><i class="fa fa-play-circle"></i>قدم الآن</a>
      </div>
    </section><!--//promo-->
<% end %>