<% if @l == :fr %>
<section class="testimonials">
  <h1 class="section-heading text-highlight"><span class="line"> Témoignages</span></h1>
  <div class="carousel-controls">
    <a class="prev" href="#testimonials-carousel" data-slide="prev"><i class="fa fa-caret-left"></i></a>
    <a class="next" href="#testimonials-carousel" data-slide="next"><i class="fa fa-caret-right"></i></a>
  </div><!--//carousel-controls-->
  <div class="section-content">
    <div id="testimonials-carousel" class="testimonials-carousel carousel slide">
      <div class="carousel-inner">

        <div class="item active">
          <blockquote class="quote">
            <p><i class="fa fa-quote-left"></i>I’m very happy interdum eget ipsum. Nunc pulvinar ut nulla eget sollicitudin. In hac habitasse platea dictumst. Integer mattis varius ipsum, posuere posuere est porta vel. Integer metus ligula, blandit ut fermentum a, rhoncus in ligula. Duis luctus.</p>
          </blockquote>
          <div class="row">
            <p class="people col-md-8 col-sm-3 col-xs-8"><span class="name">Marissa Spencer</span><br /><span class="title">Curabitur commodo</span></p>
            <%= image_tag("testimonials/profile-1.png", class: "profile col-md-4 pull-right" ) %>
          </div>
        </div><!--//item-->

       </div><!--//carousel-inner-->
    </div><!--//testimonials-carousel-->
  </div><!--//section-content-->
</section><!--//testimonials-->

<% else %>
<section class="testimonials">
  <h1 class="section-heading text-highlight"><span class="line"> الشهادات</span></h1>
  <div class="carousel-controls">
    <a class="prev" href="#testimonials-carousel" data-slide="prev"><i class="fa fa-caret-left"></i></a>
    <a class="next" href="#testimonials-carousel" data-slide="next"><i class="fa fa-caret-right"></i></a>
  </div><!--//carousel-controls-->
  <div class="section-content">
    <div id="testimonials-carousel" class="testimonials-carousel carousel slide">
      <div class="carousel-inner">

        <div class="item active">
          <blockquote class="quote">
            <p><i class="fa fa-quote-left"></i>I’m very happy interdum eget ipsum. Nunc pulvinar ut nulla eget sollicitudin. In hac habitasse platea dictumst. Integer mattis varius ipsum, posuere posuere est porta vel. Integer metus ligula, blandit ut fermentum a, rhoncus in ligula. Duis luctus.</p>
          </blockquote>
          <div class="row">
            <p class="people col-md-8 col-sm-3 col-xs-8"><span class="name">Marissa Spencer</span><br /><span class="title">Curabitur commodo</span></p>
            <%= image_tag("testimonials/profile-1.png", class: "profile col-md-4 pull-right" ) %>
          </div>
        </div><!--//item-->

      </div><!--//carousel-inner-->
    </div><!--//testimonials-carousel-->
  </div><!--//section-content-->
</section><!--//testimonials-->
<% end %>