<article class="contact-form col-md-8 col-sm-7  page-row">
  <h3 class="title">Editing Post</h3>

  <%= render 'form' %>

  <%= link_to 'Show', @post %> |
  <%= link_to 'Back', posts_path %>

</article><!--//contact-form-->
