<article class="contact-form col-md-8 col-sm-7  page-row">
  <h3 class="title">Editing Category</h3>

  <%= render 'form' %>

  <%= link_to 'Show', @category %> |
  <%= link_to 'Back', categories_path %>
</article><!--//contact-form-->
