<% if @l == :fr %>
    <!-- ******FOOTER****** -->
    <footer class="footer">
      <div class="footer-content">
        <div class="container">
          <div class="row">
            <div class="footer-col col-md-3 col-sm-4 about">
              <div class="footer-col-inner">
                <h3>About</h3>
                <ul>
                  <li><a href="#"><i class="fa fa-caret-right"></i>About us</a></li>
                  <li><a href="#"><i class="fa fa-caret-right"></i>Contact us</a></li>
                  <li><a href="#"><i class="fa fa-caret-right"></i>Privacy policy</a></li>
                  <li><a href="#"><i class="fa fa-caret-right"></i>Terms & Conditions</a></li>
                </ul>
              </div><!--//footer-col-inner-->
            </div><!--//foooter-col-->
            <div class="footer-col col-md-6 col-sm-8 newsletter">
              <div class="footer-col-inner text-center">
                <h3>Joignez-vous à notre liste d'envoi</h3>

                <p>Abonnez-vous pour obtenir notre newsletter hebdomadaire livré directement à votre boîte de
                  réception</p>

                <form class="subscribe-form">
                  <div class="form-group">
                    <input type="email" class="form-control" placeholder="Enter your email"/>
                  </div>
                  <input class="btn btn-theme btn-subscribe" type="submit" value="Subscribe">
                </form>

              </div><!--//footer-col-inner-->
            </div><!--//foooter-col-->
            <div class="footer-col col-md-3 col-sm-12 contact">
              <div class="footer-col-inner">
                <h3>Contactez nous</h3>

                <div class="row">
                  <p class="adr clearfix col-md-12 col-sm-4">
                    <i class="fa fa-map-marker pull-left"></i>
                                <span class="adr-group pull-left">
                                    <span class="street-address">Universite du sahel</span><br>
                                    <span class="region">Hamdalaye A.C.I 2000</span><br>
                                    <span class="postal-code">Rue 365 Porte 71</span><br>
                                    <span class="country-name">ML</span>
                                </span>
                  </p>

                  <p class="tel col-md-12 col-sm-4"><i class="fa fa-phone"></i>(00223) 20 22 06 45</p>

                  <p class="email col-md-12 col-sm-4">
                    <i class="fa fa-envelope"></i><a href="#">universitesahel@gmail.com</a></p>
                </div>
              </div><!--//footer-col-inner-->
            </div><!--//foooter-col-->
          </div>
        </div>
      </div><!--//footer-content-->
      <div class="bottom-bar">
        <div class="container">
          <div class="row">
            <small class="copyright col-md-6 col-sm-12 col-xs-12">Copyright @ 2016 UNIVERSITÉ DU SAHEL | Website by
              <a href="#">MALINUSE</a></small>
            <ul class="social pull-right col-md-6 col-sm-12 col-xs-12">
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-youtube"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
              <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
              <li><a href="#"><i class="fa fa-skype"></i></a></li>
              <li class="row-end"><a href="#"><i class="fa fa-rss"></i></a></li>
            </ul><!--//social-->
          </div><!--//row-->
        </div><!--//container-->
      </div><!--//bottom-bar-->
    </footer><!--//footer-->

    <!-- *****CONFIGURE STYLE****** -->
    <div class="config-wrapper hidden-xs">
      <div class="config-wrapper-inner">
        <a id="config-trigger" class="config-trigger" href="#"><i class="fa fa-cog"></i></a>

        <div id="config-panel" class="config-panel">
          <p>Choose Colour</p>
          <ul id="color-options" class="list-unstyled list-inline">
            <li class="default active">
              <a data-style="assets/css/styles.css" data-logo="assets/images/logo.png" href="#"></a></li>
            <li class="green">
              <a data-style="assets/css/styles-green.css" data-logo="assets/images/logo-green.png" href="#"></a></li>
            <li class="purple">
              <a data-style="assets/css/styles-purple.css" data-logo="assets/images/logo-purple.png" href="#"></a></li>
            <li class="red">
              <a data-style="assets/css/styles-red.css" data-logo="assets/images/logo-red.png" href="#"></a></li>
          </ul><!--//color-options-->
          <a id="config-close" class="close" href="#"><i class="fa fa-times-circle"></i></a>
        </div><!--//configure-panel-->
      </div><!--//config-wrapper-inner-->
    </div><!--//config-wrapper-->

<% else %>

    <!-- ******FOOTER****** -->
    <footer class="footer">
      <div class="footer-content">
        <div class="container">
          <div class="row">
            <div class="footer-col col-md-3 col-sm-4 about">
              <div class="footer-col-inner">
                <h3>حول</h3>
                <ul>
                  <li><a href="#"><i class="fa fa-caret-right"></i>About us</a></li>
                  <li><a href="#"><i class="fa fa-caret-right"></i>Contact us</a></li>
                  <li><a href="#"><i class="fa fa-caret-right"></i>Privacy policy</a></li>
                  <li><a href="#"><i class="fa fa-caret-right"></i>Terms & Conditions</a></li>
                </ul>
              </div><!--//footer-col-inner-->
            </div><!--//foooter-col-->
            <div class="footer-col col-md-6 col-sm-8 newsletter">
              <div class="footer-col-inner text-center">
                <h3>انضم لقائمتنا البريدية</h3>

                <p>الاشتراك في النشرة الإخبارية الأسبوعية تسليمها مباشرة إلى صندوق البريد الوارد</p>

                <form class="subscribe-form">
                  <div class="form-group">
                    <input type="email" class="form-control" placeholder="ادخل بريدك الإلكتروني"/>
                  </div>
                  <input class="btn btn-theme btn-subscribe" type="submit" value="الاشتراك">
                </form>

              </div><!--//footer-col-inner-->
            </div><!--//foooter-col-->
            <div class="footer-col col-md-3 col-sm-12 contact">
              <div class="footer-col-inner">
                <h3>اتصل بنا</h3>

                <div class="row">
                  <p class="adr clearfix col-md-12 col-sm-4">
                    <i class="fa fa-map-marker pull-left"></i>
                                <span class="adr-group pull-left">
                                    <span class="street-address">Universite du sahel</span><br>
                                    <span class="region">Hamdalaye A.C.I 2000</span><br>
                                    <span class="postal-code">Rue 365 Porte 71</span><br>
                                    <span class="country-name">ML</span>
                                </span>
                  </p>

                  <p class="tel col-md-12 col-sm-4"><i class="fa fa-phone"></i>(00223) 20 22 06 45</p>

                  <p class="email col-md-12 col-sm-4">
                    <i class="fa fa-envelope"></i><a href="#">universitesahel@gmail.com</a></p>
                </div>
              </div><!--//footer-col-inner-->
            </div><!--//foooter-col-->
          </div>
        </div>
      </div><!--//footer-content-->
      <div class="bottom-bar">
        <div class="container">
          <div class="row">
            <small class="copyright col-md-6 col-sm-12 col-xs-12">Copyright @ 2016 UNIVERSITÉ DU SAHEL | Website by
              <a href="#">MALINUSE</a></small>
            <ul class="social pull-right col-md-6 col-sm-12 col-xs-12">
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="https://www.facebook.com/Universit%C3%A9-du-Sahel-de-Bamako-655344637859065/" target="_blank"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-youtube"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
              <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
              <li><a href="#"><i class="fa fa-skype"></i></a></li>
              <li class="row-end"><a href="#"><i class="fa fa-rss"></i></a></li>
            </ul><!--//social-->
          </div><!--//row-->
        </div><!--//container-->
      </div><!--//bottom-bar-->
    </footer><!--//footer-->

    <!-- *****CONFIGURE STYLE****** -->
    <div class="config-wrapper hidden-xs">
      <div class="config-wrapper-inner">
        <a id="config-trigger" class="config-trigger" href="#"><i class="fa fa-cog"></i></a>

        <div id="config-panel" class="config-panel">
          <p>Choose Colour</p>
          <ul id="color-options" class="list-unstyled list-inline">
            <li class="default active">
              <a data-style="assets/css/styles.css" data-logo="assets/images/logo.png" href="#"></a></li>
            <li class="green">
              <a data-style="assets/css/styles-green.css" data-logo="assets/images/logo-green.png" href="#"></a></li>
            <li class="purple">
              <a data-style="assets/css/styles-purple.css" data-logo="assets/images/logo-purple.png" href="#"></a></li>
            <li class="red">
              <a data-style="assets/css/styles-red.css" data-logo="assets/images/logo-red.png" href="#"></a></li>
          </ul><!--//color-options-->
          <a id="config-close" class="close" href="#"><i class="fa fa-times-circle"></i></a>
        </div><!--//configure-panel-->
      </div><!--//config-wrapper-inner-->
    </div><!--//config-wrapper-->

<% end %>
